# Segredos
.env
.env.*
!.env.example

# Build
target/
node_modules/
dist/

# IDE / SO
.idea/
.vscode/
*.iml
.DS_Store
.terraform.lock.hcl

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
terraform/backend.hcl
